center {
	display: block;
	text-align: center;
}

body {
	font-family: arial, sans-serif;
}

img#hplogo {
	height: 92px;
	width: 272px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 109px;
}

.searchbar {
	padding-top: 20px;
}

.searchbar input {
	height: 35px;
	width: 435px;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(240,240,240);
	border-top: 0.5px solid rgb(215,215,215);
	border-bottom: 0.5px solid rgb(215,215,215);
}

#topbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(255,255,255);
}

.left_col {
	float: left;
	padding-right: 33px;
	padding-bottom: 13px;
	padding-left: 25px;
}

.right_col {
	float: right;
	padding-left: 33px;
	padding-bottom: 13px;
	padding-right: 33px;
}

a {
    font-family: arial, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #696969

}

#country {
    color: #696969;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    padding-left: 25px;
}

.boxes {
	padding-top: 25px;
}

#b1, #b2 {
	font-size: 13px;
	font-weight: bold;
	color: rgb(115,115,115);
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	text-align: center;
}

#b1 {
	background-color: rgb(240,240,240);
	padding: 10px 16px;
	margin-right: 5px;
}

#b2 {
	background-color: rgb(240,240,240);
	padding: 10px 16px;
}

